@import "../styles";

.crew_ranking {
  padding: 0.5rem 1rem;
  text-align: left;
  .title {
    font-weight: 600;
  }
  .date {
    font-size: 0.9rem;
    color: $darkgray;
    margin: 0.2rem 0;
  }
  .contaniner {
    // margin: 1rem;
    // background-color: #f9f9f9;
    // border-radius: 0.5rem;
    // padding: 0.5rem 1rem 1rem 0.5rem;
    .ranking {
      display: flex;
      // justify-content: space-around;
      margin: 1rem 0 0;
      .part {
        font-size: 1.3rem;
        flex: 1;
        text-align: center;
      }
      .dist {
        margin: auto 0;
        flex: 2;
        text-align: right;
        .large {
          font-size: 1.5rem;
        }
      }
      .rank {
        flex: 2;
        text-align: right;
        .large {
          font-size: 1.5rem;
        }
      }
    }
  }
}
