@import "../styles";

.notice_compo {
  text-align: left;
  padding: 0.8rem;
  .notice_title {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  .notice_content {
    border: 1px solid $gray;
    border-radius: 0.5rem;
    padding: 0.5rem;
    .notice_upper {
      display: flex;
      margin-bottom: 0.5rem;
      align-items: center;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
      .nickname {
        margin-left: 0.5rem;
        font-size: 1.2rem;
      }
      .date {
        margin-left: 0.5rem;
        color: $darkgray;
        font-size: 0.9rem;
      }
    }
    .notice_down {
      display: flex;
      .imp {
        color: $green;
        margin-right: 0.5rem;
      }
    }
  }
}
