@import "../styles";

.search {
  margin: 1rem;
  display: flex;
  .select {
    width: 4.5rem;
    height: 2.8rem;
    border: 0px;
    border-radius: 0.5rem;
    background-color: #f4f4f4;
    font-size: 1.3rem;
    font-family: "omyu_pretty";
    text-align: center;
    option {
      font-size: 1rem;
      text-indent: 1rem;
    }
  }
  .select:focus-visible {
    outline: 3px solid #e0e0e0;
  }
  /* 마우스, 터치로 버튼에 포커스 시 */
  .select:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 1px 1px 3px rgba(1, 1, 0, .7);
  }
  // select::-ms-expand { 
  //   display: none;
  // }
  // .select {
  //   -o-appearance: none;
  //   -webkit-appearance: none;
  //   -moz-appearance: none;
  //   appearance: none;
  // }
  .inputBox {
    margin-left: 0.5rem;
    padding-left: 1rem;
    height: 2.8rem;
    border: 0px;
    border-radius: 0.5rem;
    background-color: #f4f4f4;
    font-size: 1.3rem;
    font-family: "omyu_pretty";
    flex-grow: 1;
  }
  .inputBox:focus-visible {
    outline: 3px solid #e0e0e0;
  }
  /* 마우스, 터치로 버튼에 포커스 시 */
  .inputBox:focus:not(:focus-visible) {
    outline: none;
    box-shadow: 1px 1px 3px rgba(1, 1, 0, .7);
  }
}
