@import "../styles";

.myplogging_item {
  display: flex;
  margin: 0.5rem 0;
  padding: 0.8rem 1rem;
  border: 1px solid $darkgray;
  border-radius: 0.5rem;
  .left_area img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  .right_area {
    .first_area {
      display: flex;
      .divide_IND {
        background-color: $green;
        color: white;
        border-radius: 2rem;
        padding: 0.1rem 0.4rem;
        margin-right: 0.5rem;
        width: 2.5rem;
        height: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .divide_VOL {
        background-color: $red;
        color: white;
        border-radius: 2rem;
        padding: 0.1rem 0.4rem;
        margin-right: 0.5rem;
        width: 2.5rem;
        height: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .divide_CREWPING {
        background-color: $blue;
        color: white;
        border-radius: 2rem;
        padding: 0.1rem 0.4rem;
        margin-right: 0.5rem;
        width: 2.5rem;
        height: 1.7rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .date_place {
        color: $darkgray;
        font-size: 0.9rem;
      }
    }
    .second_area {
      display: flex;
      width: 100%;
      text-align: left;
      .largeNumber {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .dist {
        flex: 1;
      }
      .time {
        flex: 1;
      }
    }
  }
}
