@import "../styles";

.crewping_info {
  padding: 0.5rem 1rem 0.4rem;
  text-align: left;
  .title {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: black;
  }
  div {
    margin: 0.1rem 0;
    color: $darkgray;
    display: flex;
    .icon {
      margin: auto 0;
      margin-right: 0.3rem;
    }
  }
}

// CrewpingMemberList.tsx

.member_list {
  flex-direction: column;
  padding-top: 0.3rem;
  .member_item {
    display: flex;
    margin: 0.2rem;
    img {
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      margin-right: 0.3rem;
    }
    .nickname {
      margin: auto 0;
    }
  }
}
