@import "styles";

.add_info {
  img {
    margin-top: 2rem;
    width: 60%;
  }
  .guide {
    margin: 0 3rem;
  }
  .nickname_true {
    text-align: left;
    margin-left: 1.2rem;
    margin-top: -1rem;
    font-size: 0.8rem;
    color: blue;
  }
  .nickname_false {
    text-align: left;
    margin-left: 1.2rem;
    margin-top: -1rem;
    font-size: 0.8rem;
    color: red;
  }
  .gender {
    margin: 1rem;
    display: flex;
    font-size: 1.1rem;
    .choice1 {
      height: 2rem;
      border-radius: 0.5rem;
      background-color: $gray;
      padding: 0.5rem 1rem;
      width: 50%;
      margin-right: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .choice2 {
      height: 2rem;
      border-radius: 0.5rem;
      background-color: $gray;
      padding: 0.5rem 1rem;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.selected {
  background-color: $green !important;
  color: white;
}
