.App {
  text-align: center;
  // height: 100%;
  // min-height: calc(var(--vh, 1vh) * 100);
  /* background-color: #FFFFFF; */
  box-sizing: border-box;
  min-width: 320px;
  max-width: 500px;
  margin: 0px auto;
  position: relative;
  // border: 1px solid black;
  .navBar {
    position: fixed;
    bottom: 0;
    z-index: 100;
    @media (max-width: 500px) {
      width: 100%;
    }

    @media (min-width: 501px) {
      width: 500px;
    }
  }
}
