@import "styles";
.crew_notice {
  margin: 1rem;
  .label {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
    display: flex;
  }
  .inputBox {
    border: 1px solid $darkgray;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: transparent;
    height: 10rem;
    width: calc(100% - 2rem);
    resize: none;
  }
  textarea {
    font-size: 1.4em;
  }
}
