@import "styles";

.community_page {
  position: relative;
  .back_Icon {
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
  }
  .divide {
    height: 0.2rem;
    background-color: $gray;
  }
  .modalbackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 5;
  }
  .create {
    position: fixed;
    display: flex;
    right: 0.8rem;
    .title {
      font-size: 1.2rem;
      color: white;
      margin: auto 0.3rem;
    }
    .open_button {
      background-color: $gray;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    @media (min-width: 501px) {
      right: calc((100% - 500px) / 2 + 0.8rem);
    }
  }
  .plus {
    position: fixed;
    bottom: 4rem;
    right: 0.8rem;
    background-color: $green;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 10;
    @media (min-width: 501px) {
      right: calc((100% - 500px) / 2 + 0.8rem);
    }
  }
}
