@import "styles";

.crewping_leader {
    padding: 1rem 1rem 0;
    .title {
        text-align: left;
        font-weight: 600;
    }
    .content {
        display: flex;
        margin: 1rem 0;
        img {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            margin: 0 0.5rem;
        }
        .nickname {
            font-size: 1.2rem;
            margin: auto 0.5rem;
        }
    }
}