@import "styles";

.community_page {
  position: relative;
  .back_Icon {
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
  }
  .divide {
    height: 0.2rem;
    background-color: $gray;
  }
}
