@import "styles";

.topbar {
  position: relative;
  .Alarm_Icon {
    position: absolute;
    right: 0.5rem;
    top: calc((7vh - 1.7rem) / 2);
    z-index: 100;
    color: $darkgray;
  }
}
.move {
  margin: 1rem;
  .part {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    padding: 0.2rem;
    font-size: 1.2rem;
    div {
      margin: auto 0;
    }
    .Icon {
      margin: auto 0;
    }
  }
}

// UserInfo.tsx
.user_info {
  margin: 1rem;
  .my_name {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    .left_area {
      display: flex;
      text-align: left;
      img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-right: 0.5rem;
      }
      .text {
        margin: auto 0;
        .email {
          font-size: 0.9rem;
          color: $darkgray;
          font-weight: 500;
        }
        div {
          font-weight: 600;
        }
        div .large {
          font-size: 1.2rem;
        }
      }
    }
    .right_area {
      font-size: 0.9rem;
      color: $green;
      margin: auto 0;
    }
  }
  .my_situation {
    margin: 1rem 0.3rem;
    border-radius: 0.5rem;
    padding: 1rem 0;
    background-color: #f3f3f3;
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
    color: $darkgray;
    .my_content {
      .count {
        font-size: 1.3rem;
        font-weight: bold;
        color: black;
      }
    }
  }
}
