@import "styles";

.profile_edit {
  .profile_img {
    margin: 2rem 1rem 1rem;
    position: relative;
    img {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
    }
    .img_edit_icon {
      position: absolute;
      background-color: $darkgray;
      border-radius: 50%;
      padding: 0.5rem 0.5rem 0.4rem;
      bottom: 1rem;
      left: calc(50% + 2.5rem);
    }
  }
}
