// 공통 요소 import용

$green: #2cd261;
$limeGreen: #a8eb12;
$blue: #0075f2;
$skyBlue: #00adff;
$red: #ff2953;
$white: #ffffff;
$black: #000000;
$gray: #e9e9e9;
$darkgray: #999999;

input {
  font-family: "omyu_pretty";
}
input::placeholder {
  font-family: "omyu_pretty";
}
textarea {
  font-family: "omyu_pretty";
}
