@import "../styles";

@mixin btn($bgc) {
  height: 5vh;
  width: 5vh;
  margin: 1vh;
  border-radius: 100%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #{$bgc};
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

@mixin btn_margin_inc($bgc) {
  @include btn($bgc: #{$bgc});
  margin-bottom: 2.5vh;
}

.btn_black {
  @include btn($bgc: $black);
}

.btn_black_margin_inc {
  @include btn_margin_inc($bgc: $black);
}

.btn_white {
  @include btn($bgc: $white);
}

.btn_white_margin_inc {
  @include btn_margin_inc($bgc: $white);
}

.btn_blue {
  @include btn($bgc: $blue);
}

.btn_blue_margin_inc {
  @include btn_margin_inc($bgc: $blue);
}

.btn_green {
  @include btn($bgc: $green);
}

.btn_green_margin_inc {
  @include btn_margin_inc($bgc: $green);
}
