@import "../styles.scss";

.InfoTop {
  box-sizing: border-box;
  height: 100%;
  width: calc(100% / 3);

  .up {
    color: $darkgray;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40%;
    width: 100%;
  }
  .down {
    color: $black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
  }
}

.IconBottom {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    height: 65%;
    width: 65%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.CameraDiv {
  background-color: $gray;
  border-radius: 5%;
  cursor: pointer;

  .camera_image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.ContextDiv {
  textarea {
    font-size: 1rem;
    border-radius: 2.5%;
    resize: none;
    &::placeholder {
      color: $darkgray;
    }
  }
}
