@import "../styles.scss";

.InfoTop {
  box-sizing: border-box;
  height: 100%;
  width: calc(100% / 3);

  .up {
    color: $darkgray;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40%;
    width: 100%;
  }
  .down {
    color: $black;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
  }
}

.IconBottom {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    height: 65%;
    width: 65%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

.CameraDiv {
}
.MediumDiv {
  font-size: 4vw;
}
.ContextDiv {
}

textarea::placeholder {
  color: $darkgray;
}
