@import "../styles.scss";

.IconBottom {
  height: 100%;
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    height: 65%;
    width: 65%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
