@import "../styles";

.rank_item_container {
  width: 100%;
  padding: 0.9rem 0;
  border-radius: 0.8rem;
  background-color: #f9f9f9;
  box-shadow: 0px 0px 7px #dedede;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1.2rem;

  .rank_title_container {
    width: 25%;
    padding-left: 1.3rem;
    .rank {
      font-size: 1.8rem;
    }
  }

  .rank_info_container {
    flex-grow: 1;
    padding-right: 1.3rem;
    text-align: right;
    .date_container {
      margin-bottom: 0.2rem;
      display: flex;
      justify-content: right;
      align-items: center;
      color: $darkgray;
      font-size: 0.9rem;
    }
    .distance {
      font-size: 1.5rem;
    }
  }
}

.rank_item {
  border: 1px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  .myrank {
    font-weight: bold;
    margin: auto 0;
    .large {
      font-size: 2rem;
    }
  }
  .rank_detail {
    text-align: end;
    .season {
      font-size: 0.8rem;
    }
    .dist {
      font-weight: bold;
      .large {
        font-size: 1.5rem;
      }
    }
  }
}
